@font-face {
  font-family: 'Purple Pen';
  src: url('#{$font-path}/purplepen/PurplePen.woff2') format('woff2'),
  url('#{$font-path}/purplepen/PurplePen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Purple Pen';
  src: url('#{$font-path}/purplepen/PurplePen.woff2') format('woff2'),
  url('#{$font-path}/purplepen/PurplePen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

