@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-Light.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-BoldItalic.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-RegularUpright.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-RegularUpright.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-ThinUpright.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-ThinUpright.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-LightUpright.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-LightUpright.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-SemiboldItalic.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-Regular.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-ThinItalic.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-Bold.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-Semibold.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-SemiboldUpright.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-SemiboldUpright.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-BoldUpright.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-BoldUpright.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-RegularItalic.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-Thin.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-LightItalic.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('#{$font-path}/titillium/Titillium-Black.woff2') format('woff2'),
  url('#{$font-path}/titillium/Titillium-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}



