/* Base Styles -------------------- */
$img-path: "../img/" !default; // Path name

body{
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-size: 20px;
}

.page{
  background-image: url(../../assets/img/page-bg.png);
  margin-bottom: -30px;
  padding: 30px 0px;
}
.page.page-menu{
  .main-sol{
    margin-right: 30px;
    @include md{
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    @include sm{
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    @include esm{
      width: 100%;
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 30px;

    }
    .sol-wrap{
      width: 300px;
      display: flex;
      flex-direction: column;
      box-shadow: $box-shadow;
      @include md{
        width: 100%;
      }
      @include sm{
        width: 100%;
      }
      @include esm{
        width: 100%;
      }

      a{
        padding: 20px 20px;
        font-weight: bold;
        border-bottom: 1px solid #eaeaea;
        text-decoration: none;
        background: $white;
        color: #818285;
        transition: $transition-base-cs;
        &:hover,&.active{
          box-shadow: -2px 0px 0px $red2;
        }
        &:nth-last-child(1){
          border-bottom: 0;
        }
        @include md{
          padding: 10px 15px;
        }
        @include sm{
          padding: 10px 15px;
        }
        @include esm{
          padding: 10px 15px;
        }
      }
    }
  }
  .main-sag{
    width: calc(100% - 330px);
    @include md{
      width: 100%;
    }
    @include sm{
      width: 100%;
    }
    @include esm{
      width: 100%;
    }
    .sag-wrap{
      .sag-top{
        box-shadow: $box-shadow;
        color: #818285;
        padding: 25px;
        display: flex;
        background: $white;
        width: 100%;
        justify-content: space-between;
        @include esm{
          flex-direction: column;
          justify-content:flex-start;
          margin-right: 15px;
          margin-left: 15px;
          width: calc(100% - 30px);
        }
        .sol{
          font-weight: bold;

          img{
            margin-right: 15px;
          }
        }
        .sag{
          a{
            text-decoration: none;
            color: #818285;
            display: flex;
            align-items: center;
            justify-content: center;
            @include esm{
              justify-content: flex-end;
              margin-top: 10px;
            }
            img{
              margin-right: 15px;
            }
            &:hover{
              color: $red2;
            }
          }
        }
      }
      .sag-body{
        color: #818285;
        margin-top: 30px;
        padding: 25px;
        box-shadow: $box-shadow;
        background: $white;
        .img-about{
          img{
            width: 100%;
          }
          margin-bottom: 30px;
        }
        .title{
          font-weight: bold;
          font-size: 25px;
          padding: 0px 30px;
          margin-bottom: 30px;
          @include esm{
            padding: 0px 10px;
          }
        }
        p{
          padding: 0px 30px;
          @include esm{
            padding: 0px 10px;
          }
        }
      }
    }
  }
}
.page-aboutus{
}
