/* Base Styles -------------------- */
$img-path: "../img/" !default; // Path name

body{
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-size: 20px;
}

.page{
  background-image: url(../../assets/img/page-bg.png);
  margin-bottom: -30px;
  padding: 30px 0px;
}
.page.page-menu{
  .main-sag{
    width: calc(100% - 330px);
    @include md{
      width: 100%;
    }
    @include sm{
      width: 100%;
    }
    @include esm{
      width: 100%;
    }
  }
  .main-sol{
    margin-right: 30px;
    @include md{
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    @include sm{
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    @include esm{
      width: 100%;
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 30px;

    }
    .sol-wrap{
      width: 300px;
      display: flex;
      flex-direction: column;
      box-shadow: $box-shadow;
      @include md{
        width: 100%;
      }
      @include sm{
        width: 100%;
      }
      @include esm{
        width: 100%;
      }

      a{
        padding: 20px 20px;
        font-weight: bold;
        border-bottom: 1px solid #eaeaea;
        text-decoration: none;
        background: $white;
        color: #818285;
        transition: $transition-base-cs;
        &:hover,&.active{
          box-shadow: -2px 0px 0px $red2;
        }
        &:nth-last-child(1){
          border-bottom: 0;
        }
        @include md{
          padding: 10px 15px;
        }
        @include sm{
          padding: 10px 15px;
        }
        @include esm{
          padding: 10px 15px;
        }
      }
    }
  }
}
.page.page-menu2{
  .main-sag{
    width: calc(100% - 330px);
    @include md{
      width: 100%;
    }
    @include sm{
      width: 100%;
    }
    @include esm{
      width: 100%;
    }
  }
  .main-sol{
    margin-right: 30px;
    @include md{
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    @include sm{
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    @include esm{
      width: 100%;
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 30px;

    }
    .sol-wrap{
      width: 300px;
      display: flex;
      flex-direction: column;
      box-shadow: $box-shadow;
      @include md{
        width: 100%;
      }
      @include sm{
        width: 100%;
      }
      @include esm{
        width: 100%;
      }
      .accordion{
        background: $white;
        button{
          width: 100%;
          padding: 20px 20px;
          font-weight: bold;
          border-bottom: 1px solid #eaeaea;
          text-decoration: none;
          background: $white;
          color: #818285;
          transition: $transition-base-cs;
          text-align: center;
          border-radius: unset;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:hover,&.active,&[aria-expanded="true"]{
            box-shadow: -2px 0px 0px $red2;
            color: $red;
          }
          &:nth-last-child(1){
            border-bottom: 0;
          }
          span.minus-plus{
            position: relative;
            &:before{
              transition: $transition-base-cs;
              width: 20px;
              height: 2px;
              content: '';
              background: $gray-500;
              display: block;

            }
            &:after{
              transition: $transition-base-cs;
              position: absolute;
              width: 2px;
              height: 18px;
              content: '';
              display: block;
              top: -8px;
              right: 9px;
              background: $gray-500;
            }
          }

          &[aria-expanded="true"]{
            span.minus-plus{
              &:after{
                opacity: 0;
              }
            }
          }

          @include md{
            padding: 10px 15px;
          }
          @include sm{
            padding: 10px 15px;
          }
          @include esm{
            padding: 10px 15px;
          }
        }
        .collapse-wrap{
          .collapse-body{
            border-bottom: 1px solid #eaeaea;
            padding-top: 30px;
            padding-bottom: 15px;
            ul{
              li{
                list-style-type: none;
                a{
                  text-decoration: none;
                  display: flex;
                  align-items: flex-start;
                  font-size: 15px;
                  color: #818286;
                  margin-bottom: 15px;
                  &:before{
                    content: '';
                    width: 5px;
                    height: 5px;
                    display: block;
                    border-radius: $rounded-pill;
                    background: $red;
                    margin-top: 8px;
                    margin-right: 10px;
                  }
                  &:hover{
                    color: $red;
                  }
                }
              }
            }
          }

        }

      }
    }
  }
}
.page{
  .main-sag{
    .sag-wrap{
      .sag-top{
        box-shadow: $box-shadow;
        color: #818285;
        padding: 25px;
        display: flex;
        background: $white;
        width: 100%;
        justify-content: space-between;
        @include sm{
          padding-bottom: 10px;
        }
        @include esm{
          flex-direction: column;
          justify-content:flex-start;
          margin-right: 15px;
          margin-left: 15px;
          width: calc(100% - 30px);
          padding-bottom: 10px;
        }
        .sol{
          font-weight: bold;
          @include sm{
            display: flex;
            align-items: start;
          }
          @include esm{
            display: flex;
            align-items: start;
          }
          img{
            margin-right: 15px;
            @include sm{
              margin-top: 7px;
              display: block;
            }
            @include esm{
              margin-top: 7px;
              display: block;
            }
          }
        }
        .sag{
          a{
            text-decoration: none;
            color: #818285;
            display: flex;
            align-items: center;
            justify-content: center;
            @include esm{
              justify-content: flex-end;
              margin-top: 10px;
            }
            img{
              margin-right: 15px;
            }
            &:hover{
              color: $red2;
            }
          }
        }
      }
      .sag-body{
        color: #818285;
        margin-top: 30px;
        padding: 25px;
        box-shadow: $box-shadow;
        background: $white;
        .img-about{
          img{
            width: 100%;
          }
          margin-bottom: 30px;
        }
        .title{
          font-weight: bold;
          font-size: 25px;
          padding: 0px 30px;
          margin-bottom: 20px;
          @include esm{
            padding: 0px 10px;
          }
        }
        p{
          padding: 0px 30px;
          font-size: 15px;
          @include esm{
            padding: 0px 10px;
          }
        }
        .img-text{
          display: flex;
          align-items: flex-start;
          margin-bottom: 90px;
          @include md{
            flex-direction: column;
            margin-bottom: 30px;

          }
          @include sm{
            flex-direction: column;
            margin-bottom: 30px;

          }
          @include esm{
            flex-direction: column;
            margin-bottom: 30px;

          }
          &.img-left{
            img{
              order: 1;
            }
            .body{
              order: 2;
            }
          }
          img{
            order:2;
            width: 48%;
            @include md{
              width: 100%;
              order: 2 !important;
            }
            @include sm{
              width: 100%;
              order: 2 !important;
            }
            @include esm{
              width: 100%;
              order: 2 !important;
            }
          }
          .body{
            order:1;
            padding-top: 30px;
            @include md{
              order: 2 !important;
            }
            @include sm{
              order: 2 !important;
            }
            @include esm{
              order: 2 !important;
            }
            .title{}
            p{}
          }
        }
      }
    }
  }
}

.page-contact{
  .sag-body{
    padding-top: 0 !important;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px !important;
    background: #fcfcfc !important;
    h3{
      font-weight: bolder;
      color: #505050;
      font-size: 24px;
      margin-bottom: 15px;
    }
    p{
      padding-left: 0 !important;
      margin-bottom: 30px;
    }
    form{
      flex: 0 0 46%;
      @include sm{
        flex: 0 0 100%;
        margin-bottom: 40px;
      }
      @include esm{
        flex: 0 0 100%;
        margin-bottom: 40px;
      }
      .btn{
        margin-left: auto;
        background: $red;
        color: $white;
        padding-left: 30px;
        padding-right: 30px;
        img{
          margin-right: 15px;
        }
      }
      .form-control{
        background: #fefefe;
        border: 1px solid #d5d5d5;
        &::placeholder{
          color: $dark;
        }
      }

    }
    .address{
      flex: 0 0 43%;
      border-right: 1px solid #eaeaea;
      margin-right: 5%;
      padding-left: 5%;
      padding-right: 1%;
      @include sm{
        flex: 0 0 100%;
        margin-bottom: 40px;
        padding: 0px;
        margin-right: 0px;
        border-right: unset;
        padding-bottom: 20px;
        border-bottom: 1px solid #eaeaea;
      }
      @include esm{
        flex: 0 0 100%;
        margin-bottom: 40px;
        padding: 0px;
        margin-right: 0px;
        border-right: unset;
        padding-bottom: 20px;
        border-bottom: 1px solid #eaeaea;
      }
      a{
        display: flex;
        align-items: start;
        color: #505050;
        width: 100%;
        text-decoration: none;
        font-size: 17px;
        margin-bottom: 14px;
        &:hover{
          color: $red;
        }
        img{
          margin-top: 5px;
          margin-right: 10px;
        }
      }
    }

  }
  .harita{

    flex: 0 0 100%;
    margin-bottom: 50px;
    iframe{
      margin-left: -25px;
      margin-right: -25px;
      width: calc(100% + 50px);
      height: 270px;

    }
  }
}
.page-sss{
  .sag-body{
    background: #fcfcfc !important;
    .accordion{
      background: transparent !important;
      .card{
        border-radius: unset !important;
        margin-bottom: 20px;
        background: transparent;
        border-bottom: 1px solid #e7e7e7;
      }
      .card-body{
        font-size: 16px;
        background: $white;
        border-top: 1px solid #e7e7e7;
      }

      .card-header{
        padding: 0;
        border-radius: unset !important;

      }
      background: $white;
      button{
        width: 100%;
        padding: 0 0px 0px 30px;
        font-weight: bold;
        border-bottom: 1px solid #eaeaea;
        text-decoration: none;
        background: $white;
        color: #818285;
        transition: $transition-base-cs;
        text-align: center;
        border-radius: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover,&.active,&[aria-expanded="true"]{
          box-shadow: -2px 0px 0px $red2;
          color: $red;
        }
        &:nth-last-child(1){
          border-bottom: 0;
        }
        i{
          padding: 20px ;
          border-left: 1px solid #e7e7e7;
        }
        &[aria-expanded="true"]{
          i{
            color: $red;
          }
        }

        @include md{
          padding: 0px 15px;
          padding-right: 0;
        }
        @include sm{
          padding: 0px 15px;
          padding-right: 0;
        }
        @include esm{
          padding: 0px 15px;
          padding-right: 0;
        }
      }
      .collapse-wrap{
        .collapse-body{
          border-bottom: 1px solid #eaeaea;
          padding-top: 30px;
          padding-bottom: 15px;
          ul{
            li{
              list-style-type: none;
              a{
                text-decoration: none;
                display: flex;
                align-items: flex-start;
                font-size: 15px;
                color: #818286;
                margin-bottom: 15px;
                &:before{
                  content: '';
                  width: 5px;
                  height: 5px;
                  display: block;
                  border-radius: $rounded-pill;
                  background: $red;
                  margin-top: 8px;
                  margin-right: 10px;
                }
                &:hover{
                  color: $red;
                }
              }
            }
          }
        }

      }

    }

  }
}
